<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>SetUpServlet</description>
    <display-name>SetUpServlet</display-name>
    <servlet-name>SetUpServlet</servlet-name>
    <servlet-class>changsi.test.SetUpServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>Query</description>
    <display-name>Query</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>changsi.test.QueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>BuildKdTree</description>
    <display-name>BuildKdTree</display-name>
    <servlet-name>BuildKdTree</servlet-name>
    <servlet-class>changsi.test.BuildKdTree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUpServlet</servlet-name>
    <url-pattern>/SetUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuildKdTree</servlet-name>
    <url-pattern>/build</url-pattern>
  </servlet-mapping>
</web-app>